extends layout

block content
  div(class="landing")
    div(class="categories")
      if selected_category==='all'
        a(href="/home/all" class="category selected-category"  id='all') All
      else
        a(href="/home/all" class="category"  id='all') All
      each category in categories
        if selected_category == category._id
          a(href=`/home/${category._id}` class="category selected-category" id=category._id)= category.name
        else
          a(href=`/home/${category._id}` class="category" id=category._id)= category.name
      a(href="/home/add-category" class="category")
        img(src="/assets/add.svg", alt="+")
    div(class="items")
      each product in products
        div(class="item")
          img(src=`${product.image}`, alt="" class="image")
          h1= product.name
          div(class="details")
            h2= product.brand
            span(class="dot")
            img(src="/assets/star.svg", alt="*")
            h2= product.rating
            h2= `(${product.number_of_ratings})`
          h1= `$ ${product.price}`
      else 
        h1 Unfortunately, everything is sold
  block popup